body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: linear-gradient(290deg, #70bfab, #a4cbea, #dfc3ff);
    background-size: 200% 200%;
    margin: 0 40vw;
    font-family: 'Play', sans-serif;
}

header {
    display: flex;
    justify-items: center;
    text-align: center;
}

header h1 {
    padding-top: 4vh;
}

h1 {
    font-size: 5em; 
}

nav {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(175, 175, 255, 0.6);
    padding: 20px 20px;
    width: 70vw;
    border: 1px solid rgb(188, 224, 223, 0.8);
    border-bottom: none;
}

nav ul {
    border: 1px solid rgb(159, 118, 219, 0.4);
    background-color: rgb(187, 145, 255, 0.7);
    border-radius: 25px;
}

nav li {
    font-size: 1.5em;
}

nav li:nth-child(1) :hover {
    color: white;
    background-color: #ab77ff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav li:nth-child(2) :hover {
    color: white;
    background-color: #ab77ff;
}

nav li:nth-child(3) :hover {
    color: white;
    background-color: #ab77ff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

li a {
    color: #f2edf9;
}

footer {
    padding: 15px;
    padding-bottom: 10px;
    background-color: #202124;
    text-align: center;
    color: white;
}

.jumbotron {
    padding-top: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(175, 175, 255, 0.3);
    width: 70vw;
    border: 1px solid rgb(188, 224, 223, 0.6);
    border-top-color: rgb(124, 124, 255, 0.3);
}

.jumbotron .regulartext {
    font-size: 22px;
}

.jumbotron .battle {
    text-align: center;
}

.alert {
    width: 43vw;
    background-color: #f44242;
    padding: 0px 10px;
    font-size: 36px
}
.radioItem {
    display: none;
}

.btn-lg {
    padding: 5px 40px;
    font-size: 1.5em;
    border-radius: 50px;
    background: green;
    border-color: rgba(178, 209, 159, 0.8);
    background: linear-gradient(to right, rgb(141, 242, 75, 0.8) , rgb(31, 193, 134, 0.8));
    color: white !important;
}

.btn-lg:hover{
    border-color: rgb(159, 202, 165);
}

.attack {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-check-inline {
    padding: 0px 0px;
}

.pokemon {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokeball {
    position: absolute;
    top: 80%;
    left: 35%;
}

.thumbnail {
    height: auto;
    width: 150px;
}

#Bulbasaur {
    font-weight: bold;
    color: green;
}

#Squirtle {
    font-weight: bold;
    color: blue;
}

#Charmander {
    font-weight: bold;
    color: red;
}

#player {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 25%;
    top: 50%;
    animation-delay: 3s;
}

#vs {
    position: absolute;
    top: 55%;
    font-weight: bolder;
    font-size: 60px;
    color: #f44242;
    text-shadow: 2px 2px #202124;
}

#dog {
    position: absolute;
    height: 250px;
    width: 250px;
    left: 60%;
    top: 40%;
    border-radius: 100%;
    animation-delay: 2s;
}
