body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: linear-gradient(290deg, #70bfab, #a4cbea, #dfc3ff);
    background-size: 200% 200%;
    margin: 0 40vw;
    font-family: 'Play', sans-serif;
}

header {
    display: flex;
    justify-items: center;
    text-align: center;
}

header h1 {
    padding-top: 4vh;
}

h1 {
    font-size: 5em; 
}

nav {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(175, 175, 255, 0.6);
    padding: 20px 20px;
    width: 70vw;
}

nav ul {
    background-color: rgb(187, 145, 255, 0.8);
    border-radius: 25px;
}

nav li {
    font-size: 1.5em;
}

nav li:nth-child(1) :hover {
    color: white;
    background-color: #ab77ff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

nav li:nth-child(2) :hover {
    color: white;
    background-color: #ab77ff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

li a {
    color: #f0e8fc;
}

footer {
    padding: 15px;
    padding-bottom: 10px;
    background-color: #202124;
    text-align: center;
    color: white;
}

.jumbotron {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(175, 175, 255, 0.3);
    width: 70vw;
}

.form-check {
    padding: 0.5em 2em;
}